<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangj.demo">

    <application>
        <activity android:name=".DemoActivity" />
        <activity android:name=".CoordinatorAppBarLayoutActivity" />
        <activity
            android:name=".ButtonsActivity"
            android:theme="@style/Theme.MaterialComponents.Light" />
        <activity android:name=".CardViewActivity" />
        <activity android:name=".ToastActivity" />
    </application>

</manifest>